openapi: '3.0.3'
externalDocs:
  url: https://www.alpinebits.org/destinationdata/
info:
  title: AlpineBits DestinationData Reference Server
  version: '2021-04'
  license:
    name: GPLv3
  description: The AlpineBits DestinationData is an standard for the exchange of
    data in the alpine tourism sector through REST APIs. This standard relies on
    well-defined and widely adopted standards, such as JSON Schema, JSON:API,
    and GeoJSON, to offer a high-quality API design. This document presents an
    OpenAPI-based documentation of the AlpineBits DestinationData standard. It
    is intended as a start point for server and client developers to the
    standard itself and can used by server developers to provide documentation
    tailored for their implementations.
  contact:
    name: AlpineBits Alliance (Editorial)
    email: info@alpinebits.org
servers:
  - url: https://destinationdata.alpinebits.opendatahub.bz.it/
    description: OpenDataHub Server
  - url: https://example.com/
    description: Example Server URL
tags:
  - name: Base
    description: Requests to base endpoints
  # - name: Agents
  #   description: Requests to resources of type `agents` and related
  - name: Categories
    description: Requests to resources of type `categories` and related
  - name: Events
    description: Requests to resources of type `events` and related
  # - name: Event Series
  #   description: Requests to resources of type `eventSeries` and related
  - name: Features
    description: Requests to resources of type `features` and related
  - name: Lifts
    description: Requests to resources of type `lifts` and related
  # - name: Media Objects
  #   description: Requests to resources of type `mediaObjects` and related
  - name: Mountain Areas
    description: Requests to resources of type `mountainAreas` and related
  - name: Ski Slopes
    description: Requests to resources of type `skiSlopes` and related
  - name: Snowparks
    description: Requests to resources of type `snowparks` and related
  # - name: Venues
  #   description: Requests to resources of type `venues` and related
  
paths:
  /:
    $ref: route.base.yml#/base
  /2021-04:
    $ref: route.base.yml#/2021-04

  # /2021-04/agents:
  #   $ref: route.agents.yml#/base
  # /2021-04/agents/{id}:
  #   $ref: route.agents.yml#/id
  # /2021-04/agents/{id}/categories:
  #   $ref: route.agents.yml#/categories
  # /2021-04/agents/{id}/multimediaDescriptions:
  #   $ref: route.agents.yml#/multimediaDescriptions
    
  /2021-04/categories:
    $ref: route.categories.yml#/base
  /2021-04/categories/{id}:
    $ref: route.categories.yml#/id
  /2021-04/categories/{id}/children:
    $ref: route.categories.yml#/children
  /2021-04/categories/{id}/multimediaDescriptions:
    $ref: route.categories.yml#/multimediaDescriptions
  /2021-04/categories/{id}/parents:
    $ref: route.categories.yml#/parents
    
  /2021-04/events:
    $ref: route.events.yml#/base
  /2021-04/events/{id}:
    $ref: route.events.yml#/id
  /2021-04/events/{id}/categories:
    $ref: route.events.yml#/categories
  /2021-04/events/{id}/contributors:
    $ref: route.events.yml#/contributors
  /2021-04/events/{id}/multimediaDescriptions:
    $ref: route.events.yml#/multimediaDescriptions
  /2021-04/events/{id}/organizers:
    $ref: route.events.yml#/organizers
  /2021-04/events/{id}/publisher:
    $ref: route.events.yml#/publisher
  /2021-04/events/{id}/series:
    $ref: route.events.yml#/series
  /2021-04/events/{id}/sponsors:
    $ref: route.events.yml#/sponsors
  /2021-04/events/{id}/subEvents:
    $ref: route.events.yml#/subEvents
  /2021-04/events/{id}/venues:
    $ref: route.events.yml#/venues
    
  # /2021-04/eventSeries:
  #   $ref: route.eventSeries.yml#/base
  # /2021-04/eventSeries/{id}:
  #   $ref: route.eventSeries.yml#/id
  # /2021-04/eventSeries/{id}/categories:
  #   $ref: route.eventSeries.yml#/categories
  # /2021-04/eventSeries/{id}/editions:
  #   $ref: route.eventSeries.yml#/editions
  # /2021-04/eventSeries/{id}/multimediaDescriptions:
  #   $ref: route.eventSeries.yml#/multimediaDescriptions

  /2021-04/features:
    $ref: route.features.yml#/base
  /2021-04/features/{id}:
    $ref: route.features.yml#/id
  /2021-04/features/{id}/children:
    $ref: route.features.yml#/children
  /2021-04/features/{id}/multimediaDescriptions:
    $ref: route.features.yml#/multimediaDescriptions
  /2021-04/features/{id}/parents:
    $ref: route.features.yml#/parents
    
  /2021-04/lifts:
    $ref: route.lifts.yml#/base
  /2021-04/lifts/{id}:
    $ref: route.lifts.yml#/id
  /2021-04/lifts/{id}/categories:
    $ref: route.lifts.yml#/categories
  /2021-04/lifts/{id}/connections:
    $ref: route.lifts.yml#/connections
  /2021-04/lifts/{id}/multimediaDescriptions:
    $ref: route.lifts.yml#/multimediaDescriptions
    
  # /2021-04/mediaObjects:
  #   $ref: route.mediaObjects.yml#/base
  # /2021-04/mediaObjects/{id}:
  #   $ref: route.mediaObjects.yml#/id
  # /2021-04/mediaObjects/{id}/categories:
  #   $ref: route.mediaObjects.yml#/categories
  # /2021-04/mediaObjects/{id}/multimediaDescriptions:
  #   $ref: route.mediaObjects.yml#/copyrightOwner

  /2021-04/mountainAreas:
    $ref: route.mountainAreas.yml#/base
  /2021-04/mountainAreas/{id}:
    $ref: route.mountainAreas.yml#/id
  /2021-04/mountainAreas/{id}/areaOwner:
    $ref: route.mountainAreas.yml#/areaOwner
  /2021-04/mountainAreas/{id}/categories:
    $ref: route.mountainAreas.yml#/categories
  /2021-04/mountainAreas/{id}/connections:
    $ref: route.mountainAreas.yml#/connections
  /2021-04/mountainAreas/{id}/lifts:
    $ref: route.mountainAreas.yml#/lifts
  /2021-04/mountainAreas/{id}/multimediaDescriptions:
    $ref: route.mountainAreas.yml#/multimediaDescriptions
  /2021-04/mountainAreas/{id}/skiSlopes:
    $ref: route.mountainAreas.yml#/skiSlopes
  /2021-04/mountainAreas/{id}/snowparks:
    $ref: route.mountainAreas.yml#/snowparks
  /2021-04/mountainAreas/{id}/subAreas:
    $ref: route.mountainAreas.yml#/subAreas

  /2021-04/skiSlopes:
    $ref: route.skiSlopes.yml#/base
  /2021-04/skiSlopes/{id}:
    $ref: route.skiSlopes.yml#/id
  /2021-04/skiSlopes/{id}/categories:
    $ref: route.skiSlopes.yml#/categories
  /2021-04/skiSlopes/{id}/connections:
    $ref: route.skiSlopes.yml#/connections
  /2021-04/skiSlopes/{id}/multimediaDescriptions:
    $ref: route.skiSlopes.yml#/multimediaDescriptions
    
  /2021-04/snowparks:
    $ref: route.snowparks.yml#/base
  /2021-04/snowparks/{id}:
    $ref: route.snowparks.yml#/id
  /2021-04/snowparks/{id}/categories:
    $ref: route.snowparks.yml#/categories
  /2021-04/snowparks/{id}/connections:
    $ref: route.snowparks.yml#/connections
  /2021-04/snowparks/{id}/features:
    $ref: route.snowparks.yml#/features
  /2021-04/snowparks/{id}/multimediaDescriptions:
    $ref: route.snowparks.yml#/multimediaDescriptions
    
  # /2021-04/venues:
  #   $ref: route.venues.yml#/base
  # /2021-04/venues/{id}:
  #   $ref: route.venues.yml#/id
  # /2021-04/venues/{id}/categories:
  #   $ref: route.venues.yml#/categories
  # /2021-04/venues/{id}/multimediaDescriptions:
  #   $ref: route.venues.yml#/multimediaDescriptions